/** {
    border: 1px solid;
    border-color: red;
}*/

body {
    margin: 0;
}

/* Header Formatting */

.header {
    padding: 30px 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

#header-links {
    display: flex;
    gap: 16px;
}

#header-links a {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero Formatting */

.hero {
    display: flex;
    width: 700px;
    flex-shrink: 0;
    padding: 60px;
}

.hero-container {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8
}

#hero-secondary {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #E5E7EB;
}

#hero-button {
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    border-width: 0;
    border-radius: 8px;
    padding: 10px 40px;
    color: #F9FAF8;
}

/* Info section formatting */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.info h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    
    color: #1F2937;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.info-card {
    flex-basis: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    border: 10px solid #3882F6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: block;
}

.info-card p {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* Quote section formatting */
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.quote {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-sayer {
    font-family: "Roboto", sans-serif;
    text-align: right;
    font-weight: bolder;
}

/* Call to Action Section Background */
.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: 600px;
    padding: 100px 0;
}

.call-to-inaction {
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-text p {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #E5E7EB;
}

.call-to-inaction button {
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    border: 3px solid white;
    border-radius: 8px;
    padding: 10px 40px;
    color: #F9FAF8;
}

#cta-header {
    font-size: 24px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    margin: 0;
}

/* Footer Styling */
.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.footer p {
    font-size: 16px;
    color: white;
    font-family: "Roboto", sans-serif;
}